google-generativeai==0.8.3
langchain
chromadb  
pypdf     
streamlit 
python-dotenv==1.0.1
langchain==0.3.11
langchain-community==0.3.11
langchain-google-genai==2.0.10
langchain-chroma==0.2.2